body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(18, 177, 44);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 228, 57);
}

head {

    background-color: black;

}